@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #615ae7;
  --heading: #020817;
  --sub-heading: #64748b;
  --success: #018a23;
  --error: #de3333;
  --warning: #f59e0b;
  --info: #2e75d4;
  --white-border: #e2e8f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-heading: var(--heading);
  --color-sub-heading: var(--sub-heading);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --color-white-border: var(--white-border);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.card-base {
  @apply bg-white rounded-md p-4 border border-white-border shadow;
}
